<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="Tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="YellowskiesQRcodeBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./DependencyInjection</directory>
            <directory>./DineshBarcode</directory>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./Twig</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>
